/*ScoreCard Styles*/

/*Extra small devices (portrait phones, less than 576px)*/
/*No media query since this is the default in Bootstrap*/
.headline {
  font-size: 25px;
  text-align: center;
}
.subheadline {
  font-size: 20px;
  text-align: center;
}
.holesWrap {
  margin: 25px 0;
}
.holeWrap {
  border: 1px solid #ccc;
}
.holeNumber {
  font-size: 16px;
  text-align: center;
}

