// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
.logo {
  height: 50px;
}
.welcomeImageRow {
  background: image-url("Golf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
.welcomeWrap {
  margin-top: 40px;
  border: 2px solid #284e92;
  border-radius: 10px;
  background-color: #ffffff;
  opacity: .6;

  p {
    color: #000000;
  }
}
.welcomeText {
  text-align: center;
  padding: 15px;
  margin: 0;
  font-size: 16px;
}
.appSpecsRow {
  background-color: #71abbd;
}
.appSpecsWrap {
  text-align: center;
  height: 700px;
  margin-top: 50px;

  p {
    font-size: 16px;
  }
}
.appSpeclist {
  list-style: none;
    padding: 0;
}
.clubsIcon {
  height: 100px;
  width: 100px;
  position: relative;
  top: 40px; /*to align vertically*/
  display: inline-block;
  overflow: hidden;
  background: image-url("golf_sprite.png");
  background-repeat: no-repeat;
  background-position: 10px 0px;
  right: 40px;
}
.puttIcon {
  height: 100px;
  width: 100px;
  position: relative;
  top: 40px; /*to align vertically*/
  display: inline-block;
  overflow: hidden;
  background: image-url("golf_sprite.png");
  background-repeat: no-repeat;
  background-position: -90px 0px;
  left: 75px;
}
.calculatorIcon {
  height: 100px;
  width: 100px;
  position: relative;
  top: 40px; /*to align vertically*/
  display: inline-block;
  overflow: hidden;
  background: image-url("golf_sprite.png");
  background-repeat: no-repeat;
  background-position: -195px 0px;
  right: 45px;
}
.scoresIcon {
  height: 100px;
  width: 100px;
  position: relative;
  top: 40px; /*to align vertically*/
  display: inline-block;
  overflow: hidden;
  background: image-url("golf_sprite.png");
  background-repeat: no-repeat;
  background-position: -300px 0px;
  left: 75px;
}
.friendsIcon {
  height: 100px;
  width: 100px;
  position: relative;
  top: 40px; /*to align vertically*/
  display: inline-block;
  overflow: hidden;
  background: image-url("golf_sprite.png");
  background-repeat: no-repeat;
  background-position: -410px 0px;
  right: 45px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
